#list-categories {
  position: relative;
}

.underline {
  position: absolute;
  content: "";
  bottom: -2px;
  height: 6px;
  width: 100%;
  background: #4070f4;
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.underline:hover::before {
    transform: scaleX(1);
}


.scrollbar::-webkit-scrollbar-thumb {
  z-index: 999;
  width: 2px;
  background: #fff;
  border-radius: 999px;
}

.scrollbarCategory_black::-webkit-scrollbar {
  z-index: 999;
  width: 2px;
  height: 0.5vh;
  border-radius: 5px;
  background-color: transparent;
}
.scrollbarCategory_white::-webkit-scrollbar {
  z-index: 999;
  width: 2px;
  height: 0.5vh;
  border-radius: 5px;
  background-color: transparent;
}

.scrollbarCategory_black::-webkit-scrollbar-thumb {
  z-index: 999;
  width: 2px;
  height: 0.5vh;
  border-radius: 5px;
  background-color: #fff;
}
.scrollbarCategory_white::-webkit-scrollbar-thumb {
  z-index: 999;
  width: 2px;
  height: 0.5vh;
  border-radius: 5px;
  background-color: #000;
}

.scrollbar::-webkit-scrollbar {
  z-index: 999;
  width: 2px;
  background: #fff;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  z-index: 999;
  width: 2px;
  background-color: #fff;
  border-radius: 999px;
}

.filterBlur {
  filter: blur(10px);
  transition: all 0.2s ease-in-out;
}
